DB_NAME="YOUR_DATABASE_NAME"
USERNAME="YOUR_USERNAME"
PASSWORD="YOUR_USERNAME_PASSWORD"
HOST="YOUR_DATABASE_HOST"
PORT="YOUR_DATABASE_PORT"
SCHEMA="YOUR_DATABASE_SCHEMA"
ALS_MODEL_PATH="YOUR_MODEL_PATH"
RECOMMENDATION_API_KEY="YOUR_RECOMMENDATION_API_KEY"
ENCRYPTION_SECRET="YOUR_ENCRYPTION_SECRET"